<% const elements = [{ href: '/profile', src: locals.userPicture }] %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head', {title: 'facebook emulator'}) %>
    <link rel="stylesheet" href="./css/general.css" />
    <link rel="stylesheet" href="./css/home.css" />
    <link rel="stylesheet" href="./css/post.css" />
    <link rel="icon" href="./images/facebook.png" type="image/x-icon" />
    <script src="dotdotdot.js" defer></script>
  </head>
  <body>
    <div class="page-content">
      <%- include('nav-images', {title: 'facebook emulator', elements: [{ href:
      '/profile', active: false, src: locals.user.profile.picture }]}) %>
      <div class="main-page">
        <aside class="left-nav">
          <div class="side-links scroll">
            <div class="main-links">
              <%- include('side-link', {href:'/', src:'./images/home.png', alt:
              'Home Logo', text: 'Home', active: true}) %> <%-
              include('side-link', {href:'/', src:locals.user.profile.picture,
              alt: 'Profile picture', text: locals.user.username, active: false,
              }) %>
              <hr />
            </div>
          </div>
        </aside>
        <main class="posts">
          <%- include('post', {src: locals.user.profile.picture, image: null,
          likes: {logo: './images/heart.png', number: 10}}) %>
        </main>
        <aside class="right-nav"></aside>
      </div>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const wrapper = document.querySelector('.post-description');
        new Dotdotdot(wrapper, {
          height: 50,
        });
      });
    </script>
  </body>
</html>
